fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose
jwt
python-multipart 
textblob
httpx
langchain == 0.1.14
langchain_google_genai
langchain-community
google-generativeai == 0.3.2
# sentence_transformers
redis
tensorflow
xgboost
pandas
numpy
scikit-learn